:root {
  --color-primary: white;
  --color-secondary: #ECEFF0;
  --color-darkGray: #707070;
  --color-text: black;
  --color-Sage: #87BCBF;
  --color-Rust: #D97D54;
  --color-Darb: #324755;
  --color-Danger: #D95454;
  --color-Onxy: #181C20;
  --color-Slate: #6E8CA0;
  --color-Snow: #FFFFFF;
  --color-Ice: #F0F3F4;
  --color-Fossil: #C8D1D3;
  --color-Sand: #B9B0A2;
  --boxShadow: rgba(185, 185, 185, 0.45);
}

.darkMode {
  --color-secondary: #494e5c;
  --color-primary: #292c35;
  --color-border: #707070;
  --color-text: white;
  --color-Sage: #87BCBF;
  --color-Rust: #D97D54;
  --color-Darb: #324755;
  --color-Danger: #D95454;
  --color-Onxy: #181C20;
  --color-Slate: #6E8CA0;
  --color-Snow: #FFFFFF;
  --color-Ice: #F0F3F4;
  --color-Fossil: #C8D1D3;
  --color-Sand: #B9B0A2;
  --boxShadow: rgba(39, 39, 39, 0.45);
  --color-transparent: rgba(131, 131, 131, 0);
}

* {
  margin: 0px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

body {
  background-color: var(--color-primary);
}
body nav {
  background-color: var(--color-primary);
  display: grid;
  grid-template-columns: 10% 80% 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 2px 2px var(--boxShadow);
}
body nav .aBack {
  align-self: center;
  grid-column: 1/2;
  margin-left: 10px;
  margin-right: 10px;
  color: var(--color-text);
}
body nav h1 {
  margin: auto;
  grid-column: 2/3;
  color: var(--color-text);
}
body nav .aSettings {
  align-self: center;
  grid-column: 3/4;
  margin-left: 10px;
  margin-right: 10px;
  color: var(--color-text);
}
body section {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
body section .searchBar {
  position: relative;
}
body section .searchBar .searchInput {
  width: 90%;
  padding: 10px;
  padding-left: 20px;
  background-color: var(--color-Ice);
  margin: auto;
  border: 0px;
  border-radius: 5px;
}
body section .searchBar .fa-search {
  position: absolute;
  top: 10px;
  right: 20px;
  color: var(--color-Fossil);
}
body #container {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
body #container article {
  display: grid;
  grid-template-columns: 1fr 40%;
  grid-auto-rows: 100px;
  height: 100px;
  transition: height 0.5s ease;
}
body #container article .deleteItem {
  color: white;
  background-color: var(--color-Danger);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
}
body #container article .swipeItem {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1/2;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
}
body #container article .swipeItem img {
  border-radius: 35px;
  height: 70px;
  width: 70px;
}
body #container article .swipeItem .article__text {
  height: 78px;
  inline-size: 250px;
  overflow: hidden;
  color: var(--color-text);
}

.ItemCollapse {
  height: 0px;
}