:root {
  --color-primary: white;
  --color-secondary: #ECEFF0;
  --color-darkGray: #707070;
  --color-text: black;
  --color-archive: #87BCBF;
}

.darkMode {
  --color-primary: #292c35;
  --color-secondary: #494e5c;
  --color-border: #707070;
  --color-text: white;
  --color-archive: #87BCBF;
  --color-transparent: rgba(255, 255, 255, 0);
}

* {
  margin: 0px;
}

body {
  background-color: var(--color-secondary);
  margin: auto;
}
body nav {
  display: flex;
  flex-direction: row;
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main section {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: var(--color-primary);
}
body main section .categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body main section .categories h4 {
  width: 150px;
}
body main #DarkModeToggle {
  border: 1px solid;
  border-color: var(--color-darkGray);
  border-radius: 50px;
  background-color: var(--color-transparent);
  color: var(--color-text);
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked + .label .ball {
  transform: translate(24px);
}

.label {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 50px;
  height: 26px;
  width: 50px;
  transform: scale(1);
}

.ball {
  background-color: white;
  position: absolute;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  width: 22px;
  height: 22px;
  transition: transform 0.1s linear;
}